.btn-submit {
    background: unset;
    border: 0;
}

td.image-td {
    width: 120px;
}

.image-td img {
    width: 120px;
    height: 90px;
    object-fit: cover;
}

.image-gallery img {
    width: 100%;
    height: 270px;
    object-fit: cover;
}

.bordered {
    border: 1px solid #eee;
    padding-top: 10px;
    padding-bottom: 15px;
    border-radius: 10px;
    margin-left: 15px;
    max-width: 31%;
}

.img-mempelai {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.logo a {
    display: block!important;
    max-width: 100%;
}

input.button-cari {
    border: 0;
    width: 50px;
    cursor: pointer;
}

.icon-badge {
    font-size: 50px;
}

p.text-badge {
    font-size: 40px;
    font-weight: bold;
}


/* ============================= */
/*        JEMAAT PAGE            */
/* ============================= */

.horizontal-main-wrapper.jemaat-wrapper .container{
    max-width: 1140px;
}

.jemaat-wrapper .jemaat-banner {
    background: url('../../../../assets/img/banner-gky.jpeg');
    background-size: cover;
    background-position: center;
    padding: 10rem 0;
}

.jemaat-post .lts-content {
    flex-basis: calc(80% - 10px);
}
.jemaat-post .lts-thumb {
    flex-basis: calc(20% - 10px);
}

.jemaat-thumb img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.jemaat-galeri {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.jemaat-font {
    font-family: "Lato"!important;
}

.jemaat-kegiatan-img {
    width: 100%;
    max-height: 190px;
    object-fit: cover;
}

.kegiatan-card {
    max-height: 460px;
    height: 100%;
}

.content-article p {
    margin-bottom: 10px;
}


.my-toast {
    position: absolute;
    top: 95px;
    right: 20px;
    width: 380px;
    min-height: 60px;
    box-shadow: 1px 1px 3px -2px rgba(0,0,0,0.75);
    -webkit-animation-name: run;
    -webkit-animation-duration: 0.8s;
    z-index: 2;
}

.my-close {
    top: 6px!important;
}

.jemaat-timeline-area {
    padding-left: 52px;
    padding-top: 6px;
}

img.brand-image {
    max-width: 60px;
    padding: 6px;
}

ul.contact-detail li {
    font-size: 16px;
    margin-bottom: 11px;
}

ul.contact-detail {
    margin-top: 15px;
    margin-bottom: 15px;
    max-width: 280px;
}

.brand-name {
    width: 250px;
    vertical-align: middle;
}

.brand-contact {
    max-width: 80px;
}

@-webkit-keyframes run {
    0% { right: -390px; }
    70%{ right : 45px;}
    100% { right : 20px; }
}
